html,
body {
  padding: 5px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.result-miss {
  padding-left: 30px;
}

th {
  text-align: left;
  padding: 4px 2px;
}

td {
  text-align: right;
  padding: 4px 2px;
}

tr:nth-child(even) {
  background: white;
}
tr:nth-child(odd) {
  background: #eee;
}

td.final-avg {
  background-color: forestgreen;
}

.results-overview {
  margin-top: 40px;
}

* {
  box-sizing: border-box;
}
